.App {
  width: 20em;
  height: 30em;
  border: 1px solid gray;

  box-sizing: border-box;

  position: relative;
}

.App > div {
  height: 5em;
  border: 1px solid lightgray;

  box-sizing: border-box;
}

.App > div:hover:not(.selected-region) {
  cursor: pointer;
  background: lightgray;
}

.selected-region {
  position: absolute;
  width: 95%;
  height: 10em;

  transform: translateX(-50%);
  left: 50%;
  background: darkcyan;
}
